<?php

$mainMenuTemp['prefix'] = "<ul class='nav navbar-nav'>";
$mainMenuTemp['unactive'] = "<li><a href='%URL'>%NAME</a></li>";
$mainMenuTemp['active'] = "<li><a href='%URL'>%NAME</a></li>";
$mainMenuTemp['suffix'] = "</ul>";

$firstFooterMenuTemp['prefix'] = "<div class='hidden-xs hidden-sm col-md-3'><ul class='first-footer-menu'>";
$firstFooterMenuTemp['unactive'] = "<a href='%URL'><li>%NAME</li></a>";
$firstFooterMenuTemp['active'] = "<a href='%URL'><li>%NAME</li></a>";
$firstFooterMenuTemp['suffix'] = "</ul></div>";

$secondFooterMenuTemp['prefix'] = "<div class='hidden-xs hidden-sm col-md-2'><ul class='second-footer-menu'>";
$secondFooterMenuTemp['unactive'] = "<a href='%URL'><li>%NAME</li></a>";
$secondFooterMenuTemp['active'] = "<a href='%URL'><li>%NAME</li></a>";
$secondFooterMenuTemp['suffix'] = "</ul></div>";
					

    $browseTemp['unactive'] = "<li><a href='%URL'>%PAGE</a></li>";
    $browseTemp['active'] = "<li class='active'><a class='active' href='%URL'>%PAGE</a></li>";

$breadcrumbsTemp['prefix'] = "<div class='bread-crumbs' style='position:relative;left: -15px;'><div class='container'><div class='row'><div class='col-sm-offset-3 col-sm-9'><a href='/'>Главная</a>";
$breadcrumbsTemp['unactive'] = "<a href='%URL'>%NAME</a>";
$breadcrumbsTemp['active'] = "<span>%NAME</span>";
$breadcrumbsTemp['suffix'] = "</div></div></div></div>";

?>
